<a href="https://colab.research.google.com/github/BumjuneKim/hymot-python/blob/main/week9/week9_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

print(number_list)

number_list = []
for number in range(1,6):
  number_list.append(number)

print(number_list)

number_list = list(range(1, 6))
print(number_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [5]:
number_list = [number for number in range(1, 6)]
print(number_list)

number_list = [number - 1 for number in range(1, 6)]
print(number_list)

a_list = [number for number in range(1, 6) if number % 2 == 1]
print(a_list)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[1, 3, 5]

In [8]:
a_list = [number for number in range(1, 6) if number % 2 == 1]
print(a_list)

a_list = []
for number in range(1, 6):
  if number % 2 == 1:
    a_list.append(number)

print(a_list)

[1, 3, 5]
[1, 3, 5]

In [11]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

[word.lower() for word in sentence]

[word for word in sentence if len(word) > 6]

[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [13]:
rows = range(1, 4)
cols = range(1, 3)
for row in rows:
  for col in cols:
    print(row, col)

rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

[(i, j) for i in range(5) for j in range(i)]

1 1
1 2
2 1
2 2
3 1
3 2
(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [15]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [16]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'r': 1, 's': 1, 'l': 1, 't': 2, 'e': 2}

In [17]:
a_set = {number for number in range(1, 6) if number % 3 == 1}
print(a_set)

{1, 4}

In [19]:
def sum(a, b):
  return a + b

sum(1, 2)
sum(1.3, 3.1)
sum('love', 'python')

'lovepython'

In [20]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [23]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list( zip(english, french) )

dict( zip(english, french) )

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [27]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

menu(entree='beef', dessert='bagel', wine='bordeaux')

menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [29]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken')
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [30]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

menu(100)
menu(price=100)
menu(price=120, entree='beef')
menu(dessert='bagel', price=110)
menu('eighty', 'saint-pierre', 'fish')
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [33]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

# wrong case
# menu()
# menu(price=100, 'saint-pierre')
# menu(100, price=120)
# menu(main='cream pasta')

In [38]:
def echo(anything):
  'echo returns its input argument'
  return anything

def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)


echo('hello mot')
print_if_true('hello mot2', True)

help(echo)
print(echo.__doc__)

hello mot2
Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

echo returns its input argument